
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pynion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

  <span class="first">
			Pynion

  </span>
  <ul class="timeline", style="list-style: none;">
    <li>

      <div class="bubble-container">
        <div class="bubble">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                                {% for message in messages %}
             	<li>{{ message[1] }}</li>
            {% endfor %}</ul>
            {% endif %}
            {% endwith %}
            <form action="" method="post">
                        {{ form.csrf }}
            <div class="input text">
                            {{ form.name.label }} {{ form.name }}</div>
            <div class="input submit">
                            <input type="submit" value="Submit"></div>
            </form>



    </li>
  </ul>

  </div>
</body>

</html>





<!-- <img src="/static/image_title_2.png"> -->
