<html>
<head>
    <title>'Py'nion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<h1> Welcome to Pynion - Sentiment Analysis </h1>

<img src="/static/image_title_2.png">

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
                        {% for message in messages %}
     	<li>{{ message[1] }}</li>
    {% endfor %}</ul>
    {% endif %}
    {% endwith %}
    <form action="" method="post">
                {{ form.csrf }}
    <div class="input text">
                    {{ form.name.label }} {{ form.name }}</div>
    <div class="input submit">
                    <input type="submit" value="Submit"></div>
    </form>
</body>


</html>
