{% extends "base.html" %}
{% block content %}

  <span class="first">
           <p> Historical Searches:
  </span>
  <div class="bubble-container">
    <div class="bubble">
      <img src="/static/historical_word_cloud.png" width=50%>
    </div>

      <ul style="list-style: none;">
        <li> Top Searches:</li>
        {% for historyrecord in history %}
          <li>
              <div class="bubble-container">
                <div class="bubble">
                  <h4><a class="article-title" href="/"> {{ historyrecord.searchword }}</a> : {{ historyrecord.count }} </h4>
                </div>
              </div>
          </li>
        {% endfor %}
      </ul>
  </div>

{% endblock content %}
