{% extends "base.html" %}
{% block content %}

  <span class="first">
           <p> Historical Searches:
  </span>
  <div class="bubble-container">
    <div class="bubble">
      <img src="/static/historical_word_cloud.png" width=50%>
    </div>

      <ul style="list-style: none;">
        <li> Search was:</li>
        {% for historyrecord in history %}
          <li>
              <div class="bubble-container">
                <div class="bubble">
                  <h4><a class="article-title" href="#">Searched Word: {{ historyrecord.searchword }}</a></h4>
                  <p class="article-content">Number of times searched: {{ historyrecord.count }}</p>
                  <!-- Word:  {{ historyrecord.searchword }}
                  Count: {{ historyrecord.count }} -->
                </div>
              </div>
          </li>
          <!-- <li>
              <div class="bubble-container">
                <div class="bubble">
                    {{ historyrecord.count }}
                </div>
              </div>
          </li> -->
        {% endfor %}
      </ul>
  </div>

{% endblock content %}
