{% extends "base.html" %}
{% block content %}

  <main role="main" class="container">
    <script>
   function showImg(strShow, strHide) {
   document.getElementById(strShow).style.display = 'block';
   document.getElementById(strHide).style.display = 'none';
     }
    </script>
    <div class="row">
      <div class="col-lg-12">
        <span class="first">
      	   Pynion Search
        </span>
        <ul class="timeline", style="list-style: none;">
          <li>

            <div class="bubble-container">
              <div class="bubble">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  <ul>
                                      {% for message in messages %}
                   	<li>{{ message[1] }}</li>
                  {% endfor %}</ul>
                  {% endif %}
                  {% endwith %}
                  <form action="" method="post">
                              {{ form.csrf }}
                  <div class="input text">

                      <table width="500" border="0" cellpadding="10" align="left">

                      <tr>
                      <td align="left" valign="center">
                      {{ form.name.label }}
                      </td>

                      <td align="left" valign="center">
                      {{ form.name(size=30) }}
                      </td>

                      <td align="left" valign="center">
                      <input name='Text' type="submit" value="Submit">
                      </td>

                      <td align="left" valign="center">
                      <input name='Voice' type="submit" value="Voice Search" button onclick="showImg('a')"/>
                      </td>

                      <td align="center" valign="center">
                      <img id="a" class="recording-image" src= "/static/recorder.gif" style="display:none" alt="a"/>
                      </td>
                      </tr>
                      </table>
                  </div>
                  </form>
              </div>
            </div>
          </li>
        </ul>
        <span class="second">
      	    See what others are searching for
        </span>
        <br>
        <div class="row">
          <div class="col-sm-6">
          <div class="third" width="100%">Top searches</div>
        </div>

          <div class="col-sm-6">
          <div class="third">Now trending</div>
        </div>
        </div>
<br>
        <div class="row">
          <div class="col-md-6">
            <!-- <ul style="list-style: none;"> -->
              <div class="bubble" style="list-style: none;" >
              {% for historyrecord in history %}
                <li>
                        <h6><a class="article-title" href="/"> {{ historyrecord.searchword }}</a> : {{ historyrecord.count }} hits </h6>
                </li>
              {% endfor %}
              <br><br><br><br><br><br>

              </div>
            <!-- </ul> -->
          </div>
          <div class="col-md-6">
            <div class="bubble">
              <img src="/static/historical_word_cloud.png" width=100%>
            </div>
          </div>
        </div>
  </main>
{% endblock content %}
