
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pynion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script>
  function showImg(strShow, strHide) {
  document.getElementById(strShow).style.display = 'block';
  document.getElementById(strHide).style.display = 'none';
}
    </script>
</head>

<body>

  <span class="first" alt="Logo">
            <img class="logo-image" src= "/static/Pynion_logo3.jpg">
  </span>
  <ul class="timeline", style="list-style: none;">
    <li>
      <div class="bubble-container">
        <div class="bubble">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                                {% for message in messages %}
             	<li>{{ message[1] }}</li>
            {% endfor %}</ul>
            {% endif %}
            {% endwith %}
            <form action="" method="post">
                        {{ form.csrf }}
            <div class="input text">
                {{ form.name.label }} {{ form.name(size=50) }}
                <input name='Text' type="submit" value="Submit">
                <input name='Voice' type="submit" value="Voice Search" button onclick="showImg('a')"/>
             </div>

            </form>

    </li>
  </ul>

  </div>
</body>

</html>

<br>
<br/>
<img id="a" class="recording-image" src= "/static/recorder.gif" style="display:none" alt="a"/>





<!-- <img src="/static/image_title_2.png"> -->
