{% extends "base.html" %}
{% block content %}

  <main role="main" class="container">
     <script>
      function showImg(strShow, strHide) {
      document.getElementById(strShow).style.display = 'block';
      document.getElementById(strHide).style.display = 'none';
        }
    </script>
    <div class="row">
      <div class="col-lg-8">
        <span class="first">
      	   <img class="logo-image" src= "/static/Pynion_logo3.jpg">
        </span>
        <ul class="timeline", style="list-style: none;">
          <li>

            <div class="bubble-container">
              <div class="bubble">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  <ul>
                                      {% for message in messages %}
                   	<li>{{ message[1] }}</li>
                  {% endfor %}</ul>
                  {% endif %}
                  {% endwith %}
                  <form action="" method="post">
                              {{ form.csrf }}
                  <div class="input text">
                      {{ form.name.label }} {{ form.name(size=30) }}
                      <input name='Text' type="submit" value="Submit">
                      <input name='Voice' type="submit" value="Voice Search" button onclick="showImg('a')"/>
                  </div>
                  </form>

              </div>
            </div>

          </li>
        </ul>

      </div>
      <div class="col-md-4">
        <div class="content-section">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}
