

<!doctype html>
<html lang="en">
<meta http-equiv="refresh" content="5" >

<head>
  <meta charset="UTF-8">
  <title>Search result</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

  <span class="first">
           <p> Below analysis uses NLTK based textblob library to obtain the sentiments from tweets.
            The code behind uses tweepy twitter API to authenticate to twitter using the dev API token.
            Every tweet is parsed and cleaned, links and special char get removed before being passed to
            the textblob library that evaluates the sentiment based on Positive, Negative & Neutral features created</p>
			Search Results:
  </span>


  <div class="bubble-container">
    <div class="bubble">
      <img src="/static/word_cloud.png" width=50%>
    </div>
  </div>



      <ul class="timeline", style="list-style: none;">
     	    <li>
              <div class="bubble-container">
                <div class="bubble">
                    {{ session['pos'] }}
                </div>
              </div>
          </li>
          <li>
              <div class="bubble-container">
                <div class="bubble">
                    {{ session['neg'] }}
                </div>
              </div>
          </li>
          <li>
              <div class="bubble-container">
                <div class="bubble">
                    {{ session['nue'] }}
                </div>
              </div>
          </li>
        <li>Positive Tweets:</li>
        {% for twee1 in session['ptweet'] %}
          <li>
              <div class="bubble-container">
                <div class="bubble">
                    {{ twee1 }}
                </div>
              </div>
          </li>
        {% endfor %}
        <li>Negative Tweets:</li>
        {% for twee2 in session['ntweet'] %}
          <li>
              <div class="bubble-container">
                <div class="bubble">
                    {{ twee2 }}
                </div>
              </div>
          </li>
        {% endfor %}
      </ul>
</body>

</html>
